<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>259770129495-ipqqpigd8dvar8eo1f0hri7fm038ut0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259770129495-ipqqpigd8dvar8eo1f0hri7fm038ut0o</string>
	<key>API_KEY</key>
	<string>AIzaSyBv2dhoZ_6_BPi2wm_Q46sEcOrZRu2Uh2g</string>
	<key>GCM_SENDER_ID</key>
	<string>259770129495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.Firebase-App</string>
	<key>PROJECT_ID</key>
	<string>fir-iosapp-a20d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-iosapp-a20d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:259770129495:ios:8a623ea8559d0832</string>
	<key>DATABASE_URL</key>
	<string>https://fir-iosapp-a20d4.firebaseio.com</string>
</dict>
</plist>
